.overlay {
  position: fixed;
  inset: 0;
  background: var(--vk-overlay_primary);
  display: grid;
  place-items: center;
  z-index: 100;
  animation: fade var(--vk-duration-s) ease-in;
}
.card {
  background: var(--vk-background_modal);
  border-radius: var(--vk-radius-paper);
  box-shadow: var(--vk-elevation-4);
  width: min(100% - 32px, var(--w));
  animation: scaleUp var(--vk-duration-m) var(--vk-ease-platform);
}
.size-s {
  --w: 430px;
}
.size-m {
  --w: 680px;
}
.size-l {
  --w: 880px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px 0;
}
.body {
  padding: 20px;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
