.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--vk-radius-rounded);
  font-weight: 500;
  padding: 0 6px;
}
.size-m {
  min-width: 24px;
  height: 24px;
  font-size: 13px;
  line-height: 16px;
}
.size-s {
  min-width: 16px;
  height: 16px;
  font-size: 11px;
  line-height: 14px;
  padding: 0 4px;
}
.primary {
  background: var(--vk-background_accent);
  color: var(--vk-text_contrast);
}
.secondary {
  background: var(--vk-background_secondary_alpha);
  color: var(--vk-text_secondary);
}
.prominent {
  background: var(--vk-background_negative);
  color: var(--vk-text_contrast);
}
